# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
VITE_FACEIO_PUBLIC_ID=fioae156

# Environment
NODE_ENV=development
VITE_APP_ENV=development

# App Configuration
VITE_APP_NAME=PopSystem
VITE_APP_VERSION=1.0.0
